*{
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
  }

body{
    color: #fff;
    background-color: black;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }