*{
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    color: #fff;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/* Header */

.fixed-top.scrolled {
    background-color: #141414 !important;
    transition: background-color 200ms linear;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Contenido de la página */
section .container{
    padding-top: 80px;
}

.container h1{
    font-weight: 700;
}

/* Presentación Viajes Chile */
#presentacion_vchile .row .card{
    min-height: 350px;
}

/* Destacdos Viajes Chile */

#destacados_vchile img{
    height: 30vh;
    min-height: 100px;
}

.card-title{
    font-family: 'Lato', sans-serif;
}

/* Contacto tooltip */
.custom-tooltip {
    --bs-tooltip-bg: #fff;
    --bs-tooltip-color: #000;
}